<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Phone bill</title>
</head>

<body>
    <nav>
        <div class="menu">
            <ul>
                <li class="active"><a href="/"><i class="fa-solid fa-house-user"></i>Home</a></li>
                <li><a href="/price_plans" class="buton"><i></i>Price Plans</a></li>
                <li><a href="/" class="buton"><i></i>Link User</a></li>
                {{!-- <a href="/"><button type="submit" class="buton">Reset</button> --}}

                    </li>
            </ul>
        </div>
    </nav>
   <form action="/calculate" method="get">
    <H1>Phone Bill Widget</H1>
    <H4>Calculate total phone bill for user</H4>

    <label for="">Username</label>
    <input type="text" name="" class=""> <br> <br>

    <label for="">Usage string</label>
    <input type="text" name="" class=""> <br> <br>
    <button type="submit">Calculate total phone bill</button>

   </form>

    <h3>Total phone bill</h3>
    <div class="bill">
    </div>


</body>

</html>